<div class="dashboard-main-card">
  <h1 class="dashboard-title">Dashboard General de I-Wellness</h1>
  <div class="kpi-row">
    <div class="kpi-card">
      <div class="kpi-title">Turistas Registrados</div>
      <div class="kpi-value">{{ totalTuristas }}</div>
    </div>
    <div class="kpi-card">
      <div class="kpi-title">Empresas Registradas</div>
      <div class="kpi-value">{{ totalEmpresas }}</div>
    </div>
    <div class="kpi-card">
      <div class="kpi-title">Servicios Activos</div>
      <div class="kpi-value">{{ serviciosActivos }}</div>
    </div>
    <div class="kpi-card">
      <div class="kpi-title">Servicios Inactivos</div>
      <div class="kpi-value">{{ serviciosInactivos }}</div>
    </div>
  </div>
  
  <div class="dashboard-grid">
    <div class="dashboard-card">
      <h2>Preferencias por Género</h2>
      <div class="chart-wrapper genero-chart-wrapper">
        <ngx-charts-bar-vertical-2d
        [results]="generoChartData"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showDataLabel]="true"
        [xAxisTickFormatting]="xAxisTickFormatting">
      </ngx-charts-bar-vertical-2d>
      </div>
    </div>
    <div class="dashboard-card">
      <h2>Preferencias por Estado Civil</h2>
      <div class="chart-wrapper">
        <ngx-charts-bar-vertical-2d
          [results]="estadoCivilChartData"
          [scheme]="colorScheme"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showDataLabel]="true"
          [xAxisTickFormatting]="xAxisTickFormatting">
        </ngx-charts-bar-vertical-2d>
      </div>
    </div>
    <div class="dashboard-card">
      <h2>Top Categorías por País</h2>
      <div class="chart-wrapper">
        <ngx-charts-bar-horizontal
          [results]="interesesChart"
          [scheme]="'vivid'"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showDataLabel]="true">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
    <div class="dashboard-card">
      <h2>Servicios por Empresa</h2>
      <div class="chart-wrapper">
        <ngx-charts-bar-horizontal
        [results]="proveedoresChart"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showDataLabel]="true"
        [xAxisTickFormatting]="xAxisTickFormatting">
      </ngx-charts-bar-horizontal>
      </div>
    </div>
  </div>
</div>