
 <main>
      <h2>Nuestras Recomendaciones para tu Estadia</h2>
      <div class="recommendations">
        <section>
          <h3>Para ti</h3>
          <div class="card-container">
            <div class="card" *ngFor="let servicio of serviciosFiltrados" (click)="navigateToDetalle(servicio._idServicio)">
              <img [src]="servicio.imagen" [alt]="servicio.nombre">
              <span>{{ servicio.nombre }}</span>
            </div>
          </div>
        </section>
        
        <section>
          <div *ngFor="let grupo of serviciosAgrupadosPorPreferencia">
            <h3>{{ grupo.preferencia.nombre }}</h3>
            <div class="card-container">
              <div *ngFor="let servicio of grupo.servicios" class="card"  (click)="navigateToDetalle(servicio._idServicio)">
              <img [src]="servicio.imagen" [alt]="servicio.nombre">
              <span>{{ servicio.nombre }}</span>
              </div>
            </div>
          </div>
        </section>
      
      </div>
    </main>
