    <body>
        <div class="container">
            <div class="form-box">
                <h2>Editar servicio</h2>
                <div class="form-content" *ngIf="servicio">
                    <div class="image-upload">
                        <label for="fileInput" class="image-label"  >
                            <img [src]="servicio.imagen" alt="{{ servicio.nombre }}">
                            <p class="upload-text">Agregar imagen</p>
                        </label>
                        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden accept="image/*">
                    </div>
                    <div class="form-fields">
                        <input type="text" value="{{ servicio.nombre }}" [(ngModel)]="servicio.nombre">
                        
                        <!-- Selección de días -->
                        <label for="days">Horarios disponibles:</label>
                        <div class="days-selection">
                            <div class="day-item" *ngFor="let day of days">
                                <input type="checkbox" [(ngModel)]="day.selected" id="{{ day.name }}">
                                <label for="{{ day.name }}">{{ day.name }}</label>
                            </div>
                        </div>

                        <!-- Horario -->
                        <div class="time-selection">
                            <label for="starTime">Hora de apertura:</label>
                            <input type="time" id="startTime"[(ngModel)]="startTime">
                            <label for="endTime">Hora de cierre:</label>
                            <input type="time" id="endTime" [(ngModel)]="endTime">
                        </div>
                        <label for="precio">Precio:</label>
                        <input id="precio" type="number" value="{{ servicio.precio }}" [(ngModel)]="servicio.precio">
                        <textarea [(ngModel)]="servicio.descripcion">{{ servicio.descripcion }}</textarea>
                        <button class="save-btn" (click)="navigateTo('homeproveedor')" (click)="getFormattedSchedule()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>