.services-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-card {
    display: flex;
    align-items: flex-start;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.service-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.service-info {
    flex: 1;
}

.service-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background: #48A6A7;
    color: white;
}

.delete-btn {
    background: #e74c3c;
    color: white;
}
