<body>

    <div class="container">
        <div class="form-box">
            <h2>Nuevo servicio</h2>
            <div class="form-content">
                <div class="image-upload">
                    <label for="imageInput">
                      <div class="image-placeholder" [ngStyle]="{'background-image': imagePreview ? 'url(' + imagePreview + ')' : 'none'}"></div>
                      <p>{{ imagePreview ? 'Imagen seleccionada' : 'Agregar imagen' }}</p>
                    </label>
                    <input id="imageInput" type="file" (change)="onImageSelected($event)" accept="image/*" hidden>
                  </div>
                <div class="form-fields">
                    <input type="text" placeholder="Nombre" [(ngModel)]="nuevoServicio.nombre">
                    <textarea placeholder="Descripción" [(ngModel)]="nuevoServicio.descripcion"></textarea>

                     <!-- Selección de días -->
                     <label for="days">Horarios disponibles:</label>
                    <div class="days-selection">
                        <div class="day-item" *ngFor="let day of days">
                            <input type="checkbox" [(ngModel)]="day.selected" id="{{ day.name }}">
                            <label for="{{ day.name }}">{{ day.name }}</label>
                        </div>
                    </div>

                    <!-- Horario -->
                    <div class="time-selection">
                        <label for="starTime">Hora de apertura:</label>
                        <input type="time" id="startTime"[(ngModel)]="startTime">
                        <label for="endTime">Hora de cierre:</label>
                        <input type="time" id="endTime" [(ngModel)]="endTime">
                    </div>
                    
                    <input type="number" placeholder="Precio" [(ngModel)]="nuevoServicio.precio"> 
                    <button class="save-btn" (click)="guardarServicio()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>
